# Ignore uploads and cache
wp-content/uploads/
wp-content/cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and zips
*.log
*.zip

# Optional: Ignore WordPress core files
wp-admin/
wp-includes/

# Optional: Hide config
wp-config.php
